<section class="alltime polls">
        <h3>All Polls</h3>
        <ul>
            <% polls.forEach((poll) => { %>
                <a href="/polls/<%= poll._id %>"><li><%= poll.question %></li></a>
            <% }) %>
        </ul>
        <div class="ui pagination menu centered">
            <a href="#" class="active item">1</a>
            <a href="#" class="item">2</a>
            <div class="disabled item">...</div>
            <a href="#" class="item">11</a>
            <a href="#" class="item">12</a>
        </div>
    </section>