    <footer>
        <ul>
            <li>Made for <a href="#">FreeCodeCamp's</a> back-end certification</li>
            <li>Developed by Caleb Cox</li>
        </ul>
    </footer>
    
    </body>
</html>