<section class="recent polls">
        <h3>Recent Polls</h3>
        <ul>
            <% recent.forEach((poll) => { %>
                <%- console.log(poll.creationDate); %>
                <a href="/polls/<%= poll._id %>"><li><%= poll.question %></li></a>
            <% }) %>
        </ul>
    </section>