<% include ../views/partials/header %>

    <main>
        <img src="/img/404.jpg" alt="404 error, what page is this!?">
        <p>Uh oh! Looks like the page you are searching for doesn't exist.</p>
        <a href="/">Get me outta here!</a>
    </main>

<% include ../views/partials/footer %>