<!-- <h1>Homepage</h1>

<a href="/auth/github">Login with Github!</a> -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<header>
    <nav>
        <ul>
            <li><a href="#">GitVote</a></li>
        </ul>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>
</header>

<section>
    <div>
        <h2>Welcome to GitVote!</h2>
        <hr>
        <a href="/auth/github"><button>Sign in with Github <i class="fa fa-github"></i></button></a>
    </div>
</section>

<section>
    <h3>Recent Polls</h3>
    <hr>
    <p>Recent Polls here</p>
</section>