<% include ../views/partials/header %>

<!-- <h1>Homepage</h1>
<a href="/auth/github">Login with Github!</a> -->

<section class="atf">
    <div>
        <h2>Welcome to GitVote!</h2>
        <hr>
        <a href="/auth/github"><button>Sign in with Github <i class="fa fa-github"></i></button></a>
    </div>
</section>

<section>
    <h3>Recent Polls</h3>
    <hr>
    <p>Recent Polls here</p>
</section>

<% include ../views/partials/footer %>