<% include ../partials/header %>
    <main>
        <section class="recent polls">
            <h3>Recent Polls</h3>
            <ul>
                <li>Poll Name</li>
                <li>Poll Name</li>
                <li>Poll Name</li>
                <li>Poll Name</li>
                <li>Poll Name</li>
                <li>Poll Name</li>
                <li>Poll Name</li>
                <li>Poll Name</li>
                <li>Poll Name</li>
                <li>Poll Name</li>
            </ul>
        </section>

        <section class="top10 polls">
            <h3>Top 10 Polls</h3>
            <ul>
                <li>Poll Name</li>
                <li>Poll Name</li>
                <li>Poll Name</li>
                <li>Poll Name</li>
                <li>Poll Name</li>
                <li>Poll Name</li>
                <li>Poll Name</li>
                <li>Poll Name</li>
                <li>Poll Name</li>
                <li>Poll Name</li>
            </ul>
        </section>

        <% include ../partials/allpolls %>
    </main>

<% include ../partials/footer %>